In [23]:
# importing libararies
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [24]:
from sqlalchemy import create_engine

In [25]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [26]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [27]:
q = """SELECT * FROM actor;"""
pd.read_sql(q, engine)

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-14 12:34:33
1           2       NICK      WAHLBERG 2006-02-14 12:34:33
2           3         ED         CHASE 2006-02-14 12:34:33
3           4   JENNIFER         DAVIS 2006-02-14 12:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-14 12:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-14 12:34:33
196       197      REESE          WEST 2006-02-14 12:34:33
197       198       MARY        KEITEL 2006-02-14 12:34:33
198       199      JULIA       FAWCETT 2006-02-14 12:34:33
199       200      THORA        TEMPLE 2006-02-14 12:34:33

[200 rows x 4 columns]